.cell-combo-list{
    background-color: aqua;
    margin: auto;
    font-size: 150%;
}

.planner-container{
  position: absolute;
  width: 80%;
  min-height: 80;
  height: 80;
  margin: 0 auto;
}
/* Style buttons */
.btn-delete {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    float: inline-end;
  }
  
  /* Darker background on mouse-over */
  .btn-delete:hover {
    background-color: RoyalBlue;
  }

  .card-show{
    background-color: burlywood;
    height: 80vh;
  }

  .card-search{
    background-color: blue;
    height: 80vh;
  }

  .combos{
    background-color: blueviolet;
    height: 80vh;
  }

  .scroll-collumn{
    overflow-y: auto;
  }


  #card-title {
    /* animation: move 3s infinite; */
    /* text-overflow: hidden; */
    white-space: nowrap;
    text-overflow: ellipsis;
    /* animation-fill-mode: both; */
    animation-delay: 1.5s;
  }
  
  /* @keyframes move {
    from { margin-left: 0%; }
    to { margin-left: -100%; }
  } */