body{
  background-image: url('../assets/bg.png');
  color: white;
}

.cell-combo-list{
    background-color: aqua;
    margin: auto;
    color: black;
    font-size: 150%;
}

.planner-container{
  position: absolute;
  width: 80vh;
  min-height: 80vh;
  height: 80vh;
  margin: 0 auto;
}

.cell-combo-list{
  border-radius: 5px;
}

/* Style buttons */
.btn-delete {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    float: inline-end;
  }
  
  /* Darker background on mouse-over */
  .btn-delete:hover {
    background-color: RoyalBlue;
  }

  .card-show{
    background-color: #194350;
    height: 80vh;
  }

  .card-search{
    background-color: #194350;
    height: 80vh;
  }

  .combos{
    background-color: #9DBEB9;
    height: 80vh;
  }

  .scroll-collumn{
    overflow-y: auto;
    border-radius: 20px;
  }

  .title-col{
    /* border-style: dashed; */
    overflow: hidden;
    /* height: vh; */
    /* margin-left: 5%; */
  }
  .attr-col{
    height: 5vh;
  }
  .title-row{
    height: 5vh;
  }

  .detail-icon{
    width: 3vh; 
  }

  .row-type{
    margin-left: 1vh;
    margin-right: 1vh;
    font-size: 3vh;
    background-color: brown;
  }
  .btn{
    margin-top: 2%;
  }
  .combo-row{
    min-height: 12vh;
    background-color: cadetblue;
    margin-top: 2vh;
    margin-left: 1vw;
    margin-right: 1vw;
    /* margin-bottom: 1vh; */
    flex-wrap: wrap;
    border-radius: 50px;
  }

  .search-results{
    width: 45%;
    float:left; 
    margin-right:5%; 
    margin-top:5%
  }
  
  .combo-wrap{
    background-color: #FF8882;
    color: black;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border-radius: 10px;

  }
  .combo_imgs{
    height: 10vh;
    margin-top: auto;
    margin-bottom: auto;
    
    
  }


/* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  /* padding: 16px; */
  font-size: 16px;
  border: none;
  border-radius: 15%;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  color: black;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.action-text{
  background-color: #2d3067;
  border-radius: 5px;
  color: white;
}

.action-wrapper{
  background-color: brown;
  border: black;
}
.combo-action-wrapper[data-type=action-wrapper]{
  margin-top: 7%;
}
.combo-action-wrapper{
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 3vh;
  margin-left: 3vh;
  /* max-width: 6vw; */
}
.combo-action{
  background-color: #2d3067;
  font-size: 2vh;
  color: white;
  /* margin-bottom: 1vh; */
  margin-top: -2vh;
}
.combo-name,.combo-note{
  margin-left: 2%;
}

.combo-name{
font-size: 2vh;
}
.card-states{
  height: 2vh;
}
  #card-detail{
    height: 25vh;
  }

  #card-desc{
    font-size: 2vh;
  }

  #big-img{
    margin:5%;
  }

  #detail-row-1{
    margin-top:15%
  }

  #detail-row-1,#detail-row-2,#detail-row-3,#detail-row-4{
    margin-bottom: 10%;
    height: 10%;
  }

  #detail-row-1-col-1,
  #detail-row-1-col-2,
  #detail-row-2-col-1,
  #detail-row-2-col-2,
  #detail-row-3-col-1,
  #detail-row-3-col-2,
  #detail-row-4-col-1,
  #detail-row-4-col-2{
    font-size: 2.5vh;
  }

  #detail-row-1-col-2,#detail-row-2-col-2,#detail-row-3-col-2,#detail-row-4-col-2{
    text-align: right;
  }
  
  

  #card-title {
    max-width: 100%;
    white-space: nowrap;
    /* overflow: hidden; */
    /* text-overflow: hidden; */
    animation-delay: 1.5s;
  }
  
  /* @keyframes move {
    from { margin-left: 0%; }
    to { margin-left: -100%; }
  } */